<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>724864170782-f8dvcrrmge6asjc11rk4d4dqc52nskoq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.724864170782-f8dvcrrmge6asjc11rk4d4dqc52nskoq</string>
	<key>API_KEY</key>
	<string>AIzaSyC4yyDh1Vj5jm0wvQoqHw8qP3-xFAzrhHE</string>
	<key>GCM_SENDER_ID</key>
	<string>724864170782</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.1at1org.OneAtOne</string>
	<key>PROJECT_ID</key>
	<string>oneatone-11e3a</string>
	<key>STORAGE_BUCKET</key>
	<string>oneatone-11e3a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:724864170782:ios:64d0fcd50287b760</string>
	<key>DATABASE_URL</key>
	<string>https://oneatone-11e3a.firebaseio.com</string>
</dict>
</plist>